body{
  background-color: #F6F8FA;
  color:#7D7D7D;
}
main{
  width: 300px;
  margin: 50px auto 0;
}
div.board{
  display: grid;
  border: 0;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  margin-bottom: 2px;
}
div.square{
  width: 100px;
  height: 100px;
  border: 2px solid #E7E9EB;
  box-sizing: border-box;
  font-size: 4rem;
  text-align: center;
}
div.result{
  font-size: 1rem;
  padding: 5px;
  margin-bottom: 2px;
}
div.result.green{
  background-color: #198754;
  color: #fff;
}
div.result.red{
  background-color: #DC3545;
  color: #fff;
}
div.result.yellow{
  background-color: #FFC107;
  color: #fff;
}